# 电费配置
ELECTRICITY_CARNO=
ELECTRICITY_TABLE_ID=

# 水费配置
WATER_CARNO=
WATER_TABLE_ID=

# Bark 配置（BARK_API_BASE 仅用于指定 Host 地址，默认 https://api.day.app）
# 设备 Key 支持单个或逗号分隔的多个 Key（支持同时配置 BARK_DEVICE_KEY 和 BARK_DEVICE_KEYS，程序会自动合并去重）
# 分组默认值为 Scripts，图标默认使用项目定制图标
BARK_DEVICE_KEY=
BARK_DEVICE_KEYS=
BARK_API_BASE=
BARK_GROUP=
BARK_ICON=

# Eva 机器人库存监控配置（可选覆盖）
# 商品 ID 默认 5310000100239002
EVA_ITEM_ID=
# 用户 ID
EVA_USER_ID=
# 领克 API Gateway APPCODE
EVA_APP_CODE=
# 领克用户 Token
EVA_TOKEN=