# 电费配置
ELECTRICITY_CARNO=
ELECTRICITY_TABLE_ID=

# 水费配置
WATER_CARNO=
WATER_TABLE_ID=

# Bark 配置（BARK_API_BASE 仅用于指定 Host 地址，默认 https://api.day.app）
# 设备 Key 支持单个或逗号分隔的多个 Key（支持同时配置 BARK_DEVICE_KEY 和 BARK_DEVICE_KEYS，程序会自动合并去重）
BARK_DEVICE_KEY=
BARK_DEVICE_KEYS=
BARK_API_BASE=